main{
    width: 900px;
    margin: 0 auto 0 auto;
}

header{
    width: 900px;
    height: 143px;
    background: url(../images/banner.jpg);
}

section{
    width: 900px;
}

aside{
    width: 220px;
    float:left;
}

aside h2{
    color:blue;
    background: url(../images/t_l.gif);
    height: 30px;
    font-size: 20px;
    padding: 5px 0 0 5px;
    box-sizing: border-box;
    margin-bottom: 0;
}

aside ul{
    list-style-image: url(../images/li.gif) ;
    border: 1px solid #1e90ff;
    padding: 5px 0 5px 25px;
    margin-top: 0;
}

a:link{
    color: #1e90ff;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

a:visited{
    color: grey;
}

article h2{
    color:#1e90ff;
}

article{
    width: 665px;
    float:right;
    background: url(../images/bg_post.gif) no-repeat right bottom;
}

article p{
    text-align: justify;
}

footer{
    width: 900px;
    height: 50px;
    background:  #1e90ff;
    clear:both;
    text-align: center;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

